html, body{
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #3e1f47;
	color: white;
}

#preview {
	width: 10rem; 
	display: block;
	margin-left: 1rem;
}

.formUpload{
	margin: 1rem;
}

.totImg, .quota {
	margin: 1rem;
}

.comment{
	margin-left: 1rem;
	margin-top: 2rem;
	font-weight: bold;
}

h1{
	text-align: center;
	color: white;
	margin: 0;
	padding: 1.5rem;
	font-size: 3.5rem;
}

h2{
	text-align: center;
}

.formConnect{
	text-align: center;
	margin: auto;
}

.formConnect > form > div {
	margin-bottom: 2rem;
}

label{
	color: white;
}

input{
	border: none;
}

.button{
	color: gray;
	padding: 0.3rem 0.7rem;
	background-color: white;
	border: none;
}

.noAccess{
	text-align: center;
}

a{
	color: white;
}

.linkConnect, .userLogOut{
	text-align: center;
}

.gridImg{
	margin-bottom: 3rem;
	text-align: center;
}

.gridImg > a {
	display: inline-block;
	margin: 0.5rem;
}

.img{
	width: 18rem;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.link{
	text-align: center;
	margin-bottom: 2rem;
}

.link > a {
	margin: 0.5rem;
}

.linkGallery{
	margin: 1rem;
}
